.quote {
  flex-direction: column;
  align-items: center;
}
.quote article {
  width: 100%;
}
.actions {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.actions button {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}
#button--warning {
  color: #000;
}
